/*
 * Empty Stylesheet file.
#a1f2f5
-fx-background-color: linear-gradient(#113b5a,#0080b7); 
 */

.background_panel{
    -fx-background-color: white;
}

.simple_btn{
    -fx-background-color: #c8d5d0;
    -fx-text-fill: black;
    -fx-border-radius: 0;
    -fx-font-family: "Sagoe UI";
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}
.simple_btn:hover{
    
}
.exit_btn{
    -fx-background-color:#ff6666;
    -fx-text-fill: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}
.exit_btn:hover{
    -fx-background-color:#ff3333;
    -fx-text-fill: #FFFFFF;
}

.app_title{
    -fx-text-fill: #c8d5d0;
    -fx-effect: dropshadow(one-pass-box,black,10,0,0,0);
}
.date_time{
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box,black,10,0,0,0);
}